<md-toolbar class="md-medium">
  <div class="md-toolbar-tools">
    <img width="75" src="assets/roomie-white-sm.png">
    <span flex></flex>
    <md-menu md-position-mode="target-right target" >
      <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/menu-white.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="contactController.new()">
            <div>Find Roomies</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="contactController.contacts()">
            <div>Contacts</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="contactController.signout()">
            <div>Log Out</div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<div class="container" layout="row" layout-align="space-around center">

  <div hide-sm hide-xs flex="15"></div>
  <div class="contactListView" layout="column" flex>
    <div class="contactTitle" layout="row">
      <img class="contactLogo" style="height: 55px; width: 172px; margin-top:17px; margin-right: 13px;" src="assets/roomie-sm.png">
      <h1>LIST</h1>
    </div>
    <md-content class="md-padding" layout="column" ng-repeat="contact in contactController.data | orderBy:'displayName'" flex>
      <md-card>
        <md-card-title>
          <md-card-title-media hide-xs hide-sm>
            <div class="md-media-lg card-media">
              <img src="{{contact.image_url}}" >
            </div>
          </md-card-title-media>
          <md-card-title-media hide-gt-sm>
            <div class="md-media-sm card-media">
              <img src="{{contact.image_url}}" >
            </div>
          </md-card-title-media>
          <md-card-title-text hide-xs hide-sm>
            <span class="md-headline">{{contact.firstname}} {{contact.lastname}}</span>
            <span class="md-subhead">Gender: {{contact.gender}}</span>
            <span class="md-subhead">Age: {{contact.age}}</span>
          </md-card-title-text>
          <md-card-title-text hide-gt-sm>
            <span class="md-headline-sm">{{contact.firstname}} {{contact.lastname}}</span>
            <span class="md-subhead-sm">Gender: {{contact.gender}}</span>
            <span class="md-subhead-sm">Age: {{contact.age}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Email</md-button>
          <a ng-if="contact.$id !== contactController.profile.$id && contact.displayName" ui-sref="chat.direct({uid: contact.$id})" ui-sref-active="selected">
             <md-button>Chat</md-button>
          </a>
          <span ng-if="contact.$id !== contactController.profile.$id && contact.displayName" class="presence" ng-class="{online: contact.online}"></span>
        </md-card-actions>
      </md-card>
    </md-content>
  </div>
  <div hide-sm hide-xs flex="15"></div>
</div>
