<md-toolbar class="md-medium">
  <div class="md-toolbar-tools">
    <img width="75" src="assets/roomie-white-sm.png">
    <span flex></flex>
    <md-menu md-position-mode="target-right target" >
      <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/menu-white.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="profile()">
          <div>Profile: {{user.firstname}} {{user.lastname}}</div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="new()">
            <div>Find Roomies</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="contacts()">
            <div>Contacts</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="signout()">
            <div>Log Out</div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<div class="container" layout="column" layout-align="space-around center">
  <div class="loginLogoSU" hide-xs hide-sm flex>
    <img width="275" src="assets/roomie.png">
  </div>
  <div class="loginLogoSU" hide-gt-sm flex>
    <img width="200" src="assets/roomie.png">
  </div>
  <div class="row" flex>
    <div class="formPanel" hide-gt-sm>
      <div class="formBody">
        <h2>Edit Profile</h2>
        <form method="post" name="EditProfile" ng-submit="editProfile()">
          <div class="formInput">
            Firstname:
            <input class="inputFieldSU" type="text" name="first.name" ng-model="newinfo.firstname" placeholder="{{user.firstname}}" required autofocus>
          </div>
          <div class="formInput">
            Lastname:
            <input class="inputFieldSU" type="text" name="last.name" ng-model="newinfo.lastname" placeholder="{{user.lastname}}" required autofocus>
          </div>
          <div class="formInput">
            Image URL:
            <input class="inputFieldSU" type="url" name="imageUrl" ng-model="newinfo.image_url" placeholder="{{user.image_url}}" required autofocus>
            <span class="error" ng-show="signupform.$error.url">Not a valid URL!</span>
          </div>
          <div class="formInput">
            About Me:
            <textarea name="aboutMe" ng-model="newinfo.about_me" type="text" placeholder="{{user.about_me}}" maxlength="200" class="inputFieldSU aboutMe"></textarea>
          </div>
          <button class="inputButton" type="submit">Update Profile</button>
        </form>
      </div>
    </div>
  </div>

    <div class="row" flex>
      <div class="formPanel-lg" hide-xs hide-sm>
        <div class="formBody">
          <h2>Edit Profile</h2>
          <form method="post" name="EditProfile" ng-submit="editProfile()">
            <div class="formInput">
              Firstname:
              <input class="inputFieldSU" type="text" name="first.name" ng-model="newinfo.firstname" placeholder="{{user.firstname}}" required autofocus>
            </div>
            <div class="formInput">
              Lastname:
              <input class="inputFieldSU" type="text" name="last.name" ng-model="newinfo.lastname" placeholder="{{user.lastname}}" required autofocus>
            </div>
            <div class="formInput">
              Image URL:
              <input class="inputFieldSU" type="url" name="imageUrl" ng-model="newinfo.image_url" placeholder="{{user.image_url}}" required autofocus>
              <span class="error" ng-show="signupform.$error.url">Not a valid URL!</span>
            </div>
            <div class="formInput">
              About Me:
              <textarea name="aboutMe" ng-model="newinfo.about_me" type="text" placeholder="{{user.about_me}}" maxlength="200" class="inputFieldSU aboutMe"></textarea>
            </div>
            <button class="inputButton" type="submit">Update Profile</button>
          </form>
        </div>
      </div>
  </div>
</div>
