<md-toolbar class="md-medium">
  <div class="md-toolbar-tools">
    <a ui-sref="home"><img width="75" src="assets/roomie-white-sm.png"></a>
    <span flex></flex>
    <md-menu md-position-mode="target-right target" >
      <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/menu-white.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="editProfileController.profile()">
          <div>Profile: {{editProfileController.user.firstname}} {{editProfileController.user.lastname}}</div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="editProfileController.new()">
            <div>Find Roomies</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="editProfileController.contacts()">
            <div>Contacts</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="editProfileController.signout()">
            <div>Log Out</div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<section class="md-whiteframe-z1" layout="column" layout-align="center center">
  <h2>Edit Profile</h2>
  <md-content layout-padding>
    <div>
      <form form method="post" name="EditProfile">
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input name="first.name" ng-model="editProfileController.user.firstname" ng-change="editProfileController.newinfo.firstname = editProfileController.user.firstname" autofocus required>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input name="last.name" ng-model="editProfileController.user.lastname" ng-change="editProfileController.newinfo.lastname = editProfileController.user.lastname" autofocus required>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Picture URL</label>
            <input name="imageUrl" ng-model="editProfileController.user.image_url" ng-change="editProfileController.newinfo.image_url = editProfileController.user.image_url" type="url" autofocus required>
            <span class="error" ng-show="EditProfile.$error.url">Not a valid url.</span>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container name="aboutMe" class="md-block" flex-gt-sm>
            <label>Tell your future roomies about yourself...</label>
            <textarea ng-model="editProfileController.user.about_me" ng-change="editProfileController.newinfo.about_me = editProfileController.user.about_me" md-maxlength="200" rows="5" md-select-on-focus autofocus required></textarea>
          </md-input-container>
        </div>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button type="submit" ng-click="editProfileController.editProfile()" class="md-raised md-primary login">
            <font class="login">Update Profile</font>
          </md-button>
        </section>
      </form>
    </div>
  </md-content>
</section>
