<md-toolbar class="md-medium ">
  <div class="md-toolbar-tools">
    <img width="75" src="assets/roomie-white-sm.png">
    <span flex></flex>
    <md-menu md-position-mode="target-right target" >
      <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/menu-white.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="profile()">
          <div>Profile: {{user.firstname}} {{user.lastname}}</div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="new()">
            <div>Find Roomies</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="contacts()">
            <div>Contacts</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="signout()">
            <div>Log Out</div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<!-- <div hide-sm hide-xs hide-md flex="15"></div> -->
<!-- <div hide show-gt-sm flex="35"></div> -->
<!-- <div class="container" layout="row" layout-align="center center" flex> -->
<div class="container" layout="row" layout-align="space-around center">
  <div class="profileView" style="width:500px;margin-auto">
    <md-content class="md-padding" layout="column" layout-align="center center" flex>
      <md-card>
        <h1>My Profile</h1>
        <md-card-title layout="column" layout-align="space-around center">
          <!-- <md-card-title-media> -->
          <div class="md-media-lg card-media">
            <img style="max-width: 700px;" src="{{user.image_url}}">
          </div>
          <!-- </md-card-title-media> -->
          <md-card-title-text>
            <span class="name">{{user.firstname}} {{user.lastname}}</span>
            <span class="age">{{user.age}}</span>
            <span class="gender">{{user.gender}}</span>
            <span class="aboutme">{{user.about_me}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="space-around end">
            <md-button style="color: blue;" ng-click="updateprofile()">Edit Profile</md-button>
            <md-button style="color: blue;" ng-click="resetnos()">Reset rejections</md-button>

        </md-card-actions>
      </md-card>
    </md-content>
  </div>
</div>
