<div class="chat-wrap-sm" hide-gt-sm layout="column" flex>
  <div class="chat-title" flex>
    <h2>Messaging with: {{ messagesCtrl.channelName }}</h2>
  </div>
  <div class="chat-list" flex>
    <div class="chat-message" ng-repeat="message in messagesCtrl.messages">
      <div ng-if="message.uid !== contactController.profile.$id">
        <div class="message-info-left" layout="row">
  				<div class="chat-pic">
  					<img class="user-pic" ng-src="{{ contactController.getProfileImage(message.uid) }}" />
  				</div>
          <span class="user-name">
            {{ contactController.getDisplayName(message.uid) }}:
          </span>
          <span class="message">
            {{ message.body }}
          </span>
        </div>
      </div>
      <div ng-if="message.uid === contactController.profile.$id">
        <div class="message-info-right" layout="row">
          <div class="chat-pic">
            <img class="user-pic" ng-src="{{ contactController.getProfileImage(message.uid) }}" />
          </div>
          <span class="user-name">
            {{ contactController.getDisplayName(message.uid) }}:
          </span>
          <span class="message">
            {{ message.body }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input-sm" flex>
    <form class="message-form">
      <div class="input-group">
          <input type="text" style="width: 60%" class="form-control" ng-model="messagesCtrl.message" placeholder="Type a message...">
          <md-button style="float: right" type="submit" ng-click="messagesCtrl.sendMessage()" class="md-raised md-primary">
            <font class="login">Send</font>
          </md-button>

      </div>
    </form>
  </div>
</div>
<div class="chat-wrap" hide-xs hide-sm layout="column" flex>
  <div class="chat-title" flex>
    <h2>Messaging with: {{ messagesCtrl.channelName }}</h2>
  </div>
  <div class="chat-list" flex>
    <div class="chat-message" ng-repeat="message in messagesCtrl.messages">
      <div ng-if="message.uid !== contactController.profile.$id">
        <div class="message-info-left" layout="row">
  				<div class="chat-pic">
  					<img class="user-pic" ng-src="{{ contactController.getProfileImage(message.uid) }}" />
  				</div>
          <span class="user-name">
            {{ contactController.getDisplayName(message.uid) }}:
          </span>
          <span class="message">
            {{ message.body }}
          </span>
        </div>
      </div>
      <div ng-if="message.uid === contactController.profile.$id">
        <div class="message-info-right" layout="row">
          <div class="chat-pic">
            <img class="user-pic" ng-src="{{ contactController.getProfileImage(message.uid) }}" />
          </div>
          <span class="user-name">
            {{ contactController.getDisplayName(message.uid) }}:
          </span>
          <span class="message">
            {{ message.body }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input" flex>
    <form class="message-form">
      <div class="input-group">

          <input type="text" style="width: 75%" class="form-control" ng-model="messagesCtrl.message" placeholder="Type a message...">
          <md-button style="float: right" type="submit" ng-click="messagesCtrl.sendMessage()" class="md-raised md-primary">
            <font class="login">Send</font>
          </md-button>

      </div>
    </form>
  </div>
</div>
