<div class="container" ng-controller="AuthController" layout="column" layout-align="space-around center">
  <div id="loginLogo-lg" hide-xs hide-sm flex>
    <img width="275" src="assets/roomie.png">
  </div>
  <div id="loginLogo-sm" hide-gt-sm flex>
    <img width="200" src="assets/roomie.png">
  </div>
  <div class="row" flex>
    <div class="formPanel">
      <div class="formBody" layout-align="center center">
        <h2>Login</h2>
        <form method="post" ng-submit="signin()" name="loginForm" class="loginForm">
        <div class="formInput" >
          <div id="emailIcon">
            <img width="30" class="inputImg" src="assets/email.png">
          </div>
          <input class="inputField" type="email" name="email" ng-model="user.email" placeholder="Email" required autofocus>
          <span class="error" ng-show="signupform.$error.email">Not a valid email address</span>
        </div>
        <div class="formInput" style="margin-bottom: 20px;">
          <div id="passwordIcon">
            <img width="40" class="inputImg" src="assets/password-gr.png">
          </div>
          <input class="inputField" type="password" name="password" ng-model="user.password" placeholder="Password" required autofocus>
        </div>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button type="submit" class="md-raised md-primary login">
            <font class="login">Login</font>
          </md-button>
        </section>
        </form>
      </div>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary login" ng-click="login('github')">>
          <i class="ion-social-github"></i> <font class="login">Login with Github</font>
        </md-button>
        <md-button class="md-raised md-primary login" ng-click="login('facebook')">>
          <i class="ion-social-facebook"></i> <font class="login">Login with Facebook</font>
        </md-button>
        <md-button class="md-raised md-primary login" ng-click="login('twitter')">>
          <i class="ion-social-twitter"></i> <font class="login">Login with Twitter</font>
        </md-button>
        <md-button class="md-raised md-primary login" ng-click="login('google')">>
          <i class="ion-social-google"></i> <font class="login">Login with Google</font>
        </md-button>
      </section>
      <div id="signupMsg">
        <p><small>Don't have an account yet?  <a ui-sref="signup">Sign up</a></small></p>
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>
      </div>
    </div>
  </div>
</div>
