<div class="container" ng-controller="AuthController" layout="column" layout-align="space-around center">
  <div id="loginLogo-lg" hide-xs hide-sm flex>
    <img width="275" src="assets/roomie.png">
  </div>
  <div id="loginLogo-sm" hide-gt-sm flex>
    <img width="200" src="assets/roomie.png">
  </div>
  <div class="row" flex>
    <div class="formPanel">
      <div class="formBody">
        <h2>Log in</h2>
        <form method="post" ng-submit="signin()" name="loginForm" class="loginForm">
        <div class="formInput">
          <div id="emailIcon">
            <img width="30" class="inputImg" src="assets/email.png">
          </div>
          <input class="inputField" type="text" name="email" ng-model="user.email" placeholder="Email" required autofocus>
        </div>
        <div class="formInput" style="margin-bottom: 20px;">
          <div id="passwordIcon">
            <img width="40" class="inputImg" src="assets/password-gr.png">
          </div>
          <input class="inputField" type="password" name="password" ng-model="user.password" placeholder="Password" required autofocus>
        </div>
        <button type="submit" class="inputButton">Log in</buttom>
        </form>
      </div>
      <div id="signupMsg">
        <p><small>Don't have an account yet?  <a ui-sref="signup">Sign up</a></small></p>
      <div ng-show="error">
        <span>{{ error.message }}</span>
      </div>
      </div>
    </div>
  </div>
</div>
