<div class="container" ng-controller="AuthController" layout="column" layout-align="space-around center">
  <div id="loginLogo-lg" hide-xs hide-sm flex>
    <img width="275" src="assets/roomie.png">
  </div>
  <div id="loginLogo-sm" hide-gt-sm flex>
    <img width="200" src="assets/roomie.png">
  </div>
  <section class="md-whiteframe-z1 login-form" layout="column" layout-align="center center">
    <h2>Log In</h2>
    <md-content layout-padding>
        <form method="post" name="loginForm" class="loginForm">
          <div layout-gt-sm="column">
            <md-input-container class="md-block" flex-gt-sm>
              <label><i class="ion-email"></i>  Email</label>
              <input name="email" ng-model="user.email" type="email" autofocus required>
              <span class="error" ng-show="signupform.$error.email">Not a valid email.</span>
            </md-input-container>
          <div layout-gt-sm="column">
            <md-input-container class="md-block" flex-gt-sm >
              <label><i class="ion-key"></i>  Password</label>
              <input name="password" type="password" ng-model="user.password" autofocus required>
              <span class="error" ng-show="signupform.$error.minlength">Password have to be 6 characters!</span>
            </md-input-container>
          </div>
          <section layout="column" layout-wrap>
            <md-button type="submit" ng-click="signin()" class="md-raised md-primary">
              <font class="login">Log In</font>
            </md-button>
          </section>
        </form>
        <section layout="column" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="login('github')">
            <i class="ion-social-github"></i> <font class="login">Log In with Github</font>
          </md-button>
          <md-button class="md-raised md-primary" ng-click="login('facebook')">
            <i class="ion-social-facebook"></i> <font class="login">Log In with Facebook</font>
          </md-button>
          <md-button class="md-raised md-primary" ng-click="login('twitter')">
            <i class="ion-social-twitter"></i> <font class="login">Log In with Twitter</font>
          </md-button>
          <md-button class="md-raised md-primary" ng-click="login('google')">
            <i class="ion-social-google"></i> <font class="login">Log In with Google</font>
          </md-button>
        </section>
        <div id="signupMsg">
          <p><small>Don't have an account yet?  <a ui-sref="signup">Sign up</a></small></p>
          <div class="error" ng-show="error">
            <span>{{ error }}</span>
          </div>
        </div>
      </div>
    </md-content>
  </section>
  <br />
  <br />
</div>
