<div id='signup'>
  <h1 class="authheader">Signup</h1>
  <form name="signupform" ng-submit='signup()'>
    <table>
      <tr><td>Email:</td><td><input type="text" placeholder="Email" ng-model='user.email'></td></tr>
      <tr><td>Password:</td><td><input type="password" ng-model='user.password'></td></tr>
      <tr><td>First Name:</td><td><input type="text" placeholder="First Name" = ng-model="user.firstname"></td></tr>
      <tr><td>Last Name:</td><td><input type="text" placeholder="Last Name" ng-model="user.lastname"></td></tr>
      <tr><td>Date of Birth:</td><td><input type="text" placeholder="(mm/dd/yyyy)" ng-model="user.dob"></td></tr>
      <tr><td>Gender:</td><td><input type="text" placeholder="(M or F)" ng-model="user.gender"></td></tr>
      <tr><td>About Me:</td><td><textarea type="text" placeholder="140 character max" ng-model="user.aboutme"></textarea></td></tr>
    </table>
    <button class="authbutton">Sign Up!</button>
  </form>
  <a href="#/login">Already have an account? <strong>Signin</strong></a>
</div>
