<div class="container" ng-controller="AuthController" layout="column" layout-align="space-around center">
  <div class="loginLogoSU" hide-xs hide-sm flex>
    <img width="275" src="assets/roomie.png">
  </div>
  <div class="loginLogoSU" hide-gt-sm flex>
    <img width="200" src="assets/roomie.png">
  </div>
  <section class="md-whiteframe-z1" layout="column" layout-align="center center">
    <h2>Sign Up</h2>
    <h3>It's free and will always be.</h3>
    <md-content layout-padding>
      <div>
        <form form method="post" name="signupform" ng-submit='signup()'>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First Name</label>
              <input name="first.name" ng-model="user.firstname" autofocus required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Last Name</label>
              <input name="last.name" ng-model="user.lastname" autofocus required>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <input name="email" ng-model="user.email" type="email" autofocus required>
              <span class="error" ng-show="signupform.$error.email">Not a valid email.</span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input name="username" ng-model="user.username" autofocus required>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm >
              <label>Password</label>
              <input name="password" type="password" ng-model="user.password" autofocus required>
              <span class="error" ng-show="signupform.$error.minlength">Password have to be 6 characters!</span>
            </md-input-container>
            <md-datepicker name="dob" class="md-block" ng-model="user.dob" md-placeholder="Birthday" flex-gt-sm autofocus required>
            </md-datepicker>
            <div class="validation-messages" ng-messages="signupform.dob.$error">
              <div ng-message="valid">The entered value is not a date!</div>
              <div ng-message="required">Your birthday is required!</div>
            </div>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Gender</label>
              <md-select name="gender" ng-model="user.gender" autofocus required>
                <md-option value="M">
                  Male
                </md-option>
                <md-option value="F">
                  Female
                </md-option>
              </md-select>
              <span ng-messages="signupform.gender.$error">
                <span ng-message="required">Required.</span>
              </span>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Location</label>
              <md-select name="location" ng-model="user.location" autofocus required>
                <md-option value="Santa Monica">
                  Santa Monica
                </md-option>
              </md-select>
              <span ng-messages="signupform.location.$error">
                <span ng-message="required">Required.</span>
              </span>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Picture URL</label>
              <input name="imageUrl" ng-model="user.image_url" type="url" autofocus required>
              <span class="error" ng-show="signupform.$error.url">Not a valid url.</span>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container name="aboutMe" class="md-block" flex-gt-sm>
              <label>Tell your future roomies about yourself...</label>
              <textarea ng-model="user.aboutme" md-maxlength="200" rows="5" md-select-on-focus autofocus required></textarea>
            </md-input-container>
          </div>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary login">
              <font class="login">Sign Up</font>
            </md-button>
          </section>
        </form>
        <div id="signupMsg">
          <p><small>Already have an account?  <a ui-sref="signin">Log in</a></small></p>
        </div>
      </div>
    </md-content>
  </section>
  <br />
  <br />
</div>
