<md-toolbar class="md-medium">
  <div class="md-toolbar-tools">
    <img width="75" src="assets/roomie-white-sm.png">
    <span flex></flex>
    <md-menu md-position-mode="target-right target" >
      <md-button class="md-icon-button" style="float:right;" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
        <md-icon md-svg-icon="assets/menu-white.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="profile()">
          <div>Profile: {{user.firstname}} {{user.lastname}}</div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="new()">
            <div>Find Roomies</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="contacts()">
            <div>Contacts</div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="signout()">
            <div>Log Out</div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<!-- <div hide-sm hide-xs hide-md flex="15"></div> -->
<!-- <div hide show-gt-sm flex="35"></div> -->
<!-- <div class="container" layout="row" layout-align="center center" flex> -->

<div class="container" layout-align="center center">
  <div class="mainView">
    <md-content ng-show="dataArray.length !== 0" class="md-padding" layout="column" flex>
      <md-card>
        <md-card-title layout="column" layout-align="space-around center">
          <!-- <md-card-title-media> -->
          <div class="md-media-lg card-media">
            <img style="max-width: 700px;" src="{{data.image_url}}">
          </div>
          <!-- </md-card-title-media> -->
          <md-card-title-text class="userinfo">
            <span class="name">{{data.firstname}} / <span class="age">{{data.age}} /</span> <span class="gender"> {{data.gender}}</span></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-around center">
          <p class="aboutme">{{data.about_me}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-around end">
          <md-button class="md-warn md-raised md-hue-2" ng-click="decline()" aria-label="Decline">
            <i style="color:white" class="ion-thumbsdown"></i>
          </md-button>
          <md-button class="md-accent md-raised" style="background-color: #259b24" ng-click="approve()" aria-label="Approve">
            <i style="color:white" class="ion-thumbsup"></i>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-content>
  </div>

  <div ng-show="dataArray.length === 0">
    <div class="seenAll">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <h4>You've seen all the roomies!</h4>
      </div>
    </div>
  </div>
  <!-- need to change this so the seenAll is the only thing that pops up if there are no more roomies -->
  <div ng-show="dataArray.length === 0">
    <div class="loading">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular  md-diameter="120" md-mode="indeterminate"></md-progress-circular>
      </div>
    </div>
  </div>
</div>
