<div class="homepage">
  <div class="picture">
  <img class="userimage" src="{{data.url}}"/>
</div>
  <div class="infobox">
    <table>
    <tr><td class="name">{{data.firstname}} {{data.lastname}}</td></tr>
    <tr><td class="age">{{data.dob}}</td></tr>
    <tr><td class="gender">{{data.gender}}</td></tr>
    </table>
  </div>
  <div class="aboutme">
    {{data.aboutme}}
  </div>
  <div>
    <md-button class="Nobutton" ng-click="decline()">Nah</md-button>
    <md-button class="Yesbutton" ng-click="approve()">Yes</md-button>
  </div>

</div>
